* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  text-align: center;
  height: 20rem;
  background-color: white;
}
ul {
  list-style: none;
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: space-evenly;
}
a {
  text-decoration: none;
  color: purple;
}

.menu-top {
  display: flex;
  justify-content: center;
}
.navbar-top {
  width: 30vw;
  display: flex;
  justify-content: space-around;
}
h1 {
  width: 50%;
  margin-top: 7%;
  font-size: 65px;
  text-align: end;
}

.banner {
  display: flex;
}

.banner img {
  display: flex;
  height: 300px;
}

body {
  background-color: #8fbc8f;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.gallery img {
  max-width: 25vw;
  max-height: 30vh;
  margin: 5% 3% 5% 3%;
  /* width: auto;
  height: auto; */
}
div.figure {
  max-width: 25vw;
  float: right;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
  text-align: center;
  font-style: italic;
  font-size: 15px;
  text-indent: 0;
}

.container {
  position: relative;
  margin: 5% 3% 5% 3%;
}
.container h2 {
  color: white;
  font-size: 30px;
}
.resumo {
  font-size: 30px;
  margin-bottom: 15px;
}

footer {
  background-color: white;
  height: 80px;
  width: 100%;
  padding-top: 30px;
}
